#connexion{

	text-align:center;
	color : white;
	background: url('images/wood.png') repeat;
	border-radius:8px;
}

#password_error{

	display:none;
	color:red;

}

#head{

	margin:0px;
	background-color:#002D00;
	height:100px;
	text-align:center;

}

#content{
	
	display:inline-block;
	width:90%;
	height:680px;
	background: url('images/pool.png') repeat;
	padding-top:20px;


}

#user_area{
	
	display:inline-block;
	width:90%;
	color : white;
	background: url('images/wood.png') repeat;
	text-align:right;
	padding-top:3px;
	padding-bottom:3px;
	border-top:3px solid #632C00;
	border-bottom:3px solid #632C00;


}

#user_info{
	
	display:none;

}

#user_area a{
	color : white;
	font-weight: bold;
	margin-right:10px;

}

#tables{

	display:inline-block;
	width:90%;
	text-align:center;

}

#users{
	
	display:inline-block;
	width:90%;
	margin-left:30px;
	text-align:center;

}

#users td {
	
	width:100%;

}

#tables th,td {

	border:0px;
	border-left:1px solid black;
	border-top:1px solid black;
	
}


#tables_div{

	width:60%;
	float:left;

}

#users_div{

	width:40%;
	float:right;
	

}

#connexion_div {

	width:100%;

}

#table_choice{

	display:none;

}


#newTable {

	background-color:#FF9640;
	border:1px solid black;
	margin:1px;

}

#table {

	width:100%;
	height:700px;

}

#casino {

	height:200px;
	padding-top:10px;
	padding-left:10px;
	margin-left:10px;
	margin-right:10px;
	border-radius:10px;
	background-color:#67E667;
	border:2px solid #008500;
	margin-bottom:5px;
}

#players{
	
	margin-left:10px;
	margin-right:10px;
	border-radius:10px;
	background-color:#67E667;
	border:2px solid #008500;
	margin-bottom:5px;
	padding:5px;

}

#actions {

	width:95%;
	height:60px;
	background-color:#A64B00;
	padding-top:10px;
	border:3px solid #632C00;
	border-radius:10px;
	margin:auto;

}

#start {

	display:none;
}


#ban_message {
	
	width:95%;
	height:25px;
	background-color:#A64B00;
	text-align:center;
	padding-top:3px;
	font-weight:bold;
	margin:auto;
	margin-bottom:3px;
	border:2px solid #632C00;
	border-radius:5px;




}

.player{

	width:31%;
	height:300px;
	display:inline-block;
	padding:5px;
	border-radius:10px;
	margin-right:3px;

}

.subplayer {
	
	width:45%;
	padding:3px;
	display:inline-block;
	background-color:#269926;
	border-radius:5px;
	border:2px solid #008500;

}

.subplayerA {
	
	width:45%;
	padding:3px;
	display:inline-block;
	background-color:#269926;
	border-radius:5px;
	border:2px solid #008500;
	height:95%;

}

.fenetre{

	display:block;
	position:fixed;
	top:50%;
	left:50%;
	box-shadow: 2px 2px 7px black;
	background-color:silver;
	border-radius:10px;
	border:3px solid black;
	display:none;
	text-align:center;


}

#reset{

	display:none;
	
}

#message_fenetre {

	width:400px;
	margin-left:-200px;
	height:100px;
	margin-top:-50px;


}

#prompt{

	width:400px;
	margin-left:-200px;
	height:200px;
	margin-top:-100px;

}

#rules{

	width:800px;
	margin-left:-400px;
	height:600px;
	margin-top:-300px;

}

#prompt_text{


	display:inline-block;
	margin-top:10px;

}

#prompt input {

	border-radius:5px;
	border:1px solid black;

}

#prompt form {

	border:0px;

}

#fond {
	
	position:fixed;
	width:100%;
	height:100%;
	background-color:silver;
	opacity:0.7;
	display:none;
	left:0px;
	top:0px;
	
}

#message_text{

	margin-top:30px;

}

header {

	margin-top:5px;
	width:90%;
	height:95px;
	background: url('images/pool_dark.png') repeat;
	display:inline-block;
	font-size:30px;
	border-radius:20px 20px 0px 0px;
}

body{
	
	padding:0px;
	margin:0px;
	background-color:black;
	text-align:center;
}

footer{
	color : white;
	background: url('images/wood.png') repeat;
	width:90%;
	display:inline-block;
	border-radius:0px 0px 10px 10px;
	border-top:3px solid #632C00;

}


input {

	margin-top:5px;

}

form {

	display:inline-block;
	padding:5px;
	border: 1px solid black;
	
}

table {

	cellspacing:0px;
	border:1px solid black;
	border-collapse: collapse;
	background-color:#FFB273;

}

caption {
	
	text-weight:bold;
	background-color:#FF7400;
	border-bottom:1px solid black;

}

#actions input {

	background-color:#BF7130;
	border-radius:4px;
	border:1px solid black;

}

#actions #rules_input {

	background-color:silver;

}
